nav {
    text-align: center;
    background-color: rgb(226, 177, 43);
    height: 6.7cm;
  }

  .nav1 {
    margin-top: 40px;
  }
  .nav1 li {
    display: inline-block;
    margin: 0px;
    padding-right: 15px;
  }
  
  .nav1 li a {
    border-radius: 17px;
    font-size: 25px;
    background-color: lightgray;
    border-style: solid;
    border-color: gray;
    padding: 12px;
  }
  #container {
    background-color: rgb(228, 169, 7);
  }
  #currentPage {
    background-color: rgb(222, 132, 7);
  }
  
  a:link {
    color: rgb(7, 1, 1);
    background-color: rgb(173, 140, 10);
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    font: 14px Arial, sans-serif;
  }
  
  a:visited {
    color: white;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    font: 14px Arial, sans-serif;
    border-radius: 5px;
  }
  a:active {
    background-color: darkred;
  }
  a:hover {
    text-decoration: none;
  }
  nav a {
    border: 1px solid black;
    border-radius: 15%;
  }
  figure {
    text-align: center;
    background-color: rgb(247, 114, 6);
  }
  footer {
    background-color: rgb(215, 147, 12);
  }
  body {
    background-color: rgb(215, 147, 12);
  }
  ul {
    border-style: dotted;
    border: 5px double  rgb(226, 139, 7);
    font-size: larger;
    padding: -1px;
    line-height: 3px;
  }
  ol {
    border-style: dashed;
    border: 5px solid rgb(183, 18, 18);
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: upper-roman;
  }
  
  ul li:hover{
  background-image: url('Assignment3\Images\Picture7.jpeg');
  }
  ol li:hover{
    background-color: red;
  }
  table{
  table-layout: fixed;  
  background-color: white;  
  border-collapse: collapse;
  border:5px solid rgb(200,200,200);
  letter-spacing:1px;
  font-family:sans-serif;
  font-size:medium;
  text-align: center;
  }
  caption{
    padding: 5px;
    text-align: center;
    caption-side: bottom;
    color: rgb(210, 177, 15);
  }
  th,td{
    border:1px solid rgb(190,190,190);
    padding: 5px 10px;
  }
  thead{
    font-size: 25px;
    background-color: rgb(10, 13, 1);
  }
  tfoot{
    background-color: rgb(23, 19, 16);
    text-align: center;
  }
  tbody tr:hover{
    background-color: rgb(219, 115, 5);
  }
  .center{
  margin-left: auto;
  margin-right: auto;
  }
  h1,h2,h3,h4{
  text-align: center;
  font-size: 50pt;
  font-style: italic;
  text-shadow: 2px 2px rgb(216, 182, 13);
  }

  h1 {
    font-size: 100px;
  }
  
  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 50px;
  }
  
  p {
    font-size: 15px;
  }
  
  h1{
    font-family: 'Times New Roman', 'Arial Narrow', Arial, sans-serif;
  }
  
  h2{
    font-family: 'Amasis MT Pro Medium', 'Arial Narrow', Arial, sans-serif;
  }

  h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #myHeader{
    text-align: center;
    font-size: 50pt;
    font-style: italic;
    text-shadow: 2px 2px rgb(211, 207, 7);
    font-family: Arial, Helvetica, sans-serif;
  }
  #p1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 400%;
  }
  #p1::first-line{
    text-transform: uppercase;
  }
  #p2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 400%;
  }
  #p2::first-letter{
  font-size: 200%;
  text-transform: uppercase;
  }
  #p3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 400%;
  }
  #p3::first-letter{
    font-size: 200%;
    text-transform: uppercase;
  }
  #tContainer::selection{
    background-color: rgba(255, 234, 0, 0.788);
  }